<!DOCTYPE html>
<html lang="it">

<head>
<meta charset="UTF-8">
<title>Login</title>
</head>

<body>
	<div>
		<h2>Stai eseguendo l'accesso per conto di: <div th:utext="${clientName}" /></h2>
	</div>
	<div>
		<form id="loginform" action="/gamma-idp/internal/login" method="POST">
			<input name="sesid" id="sesid" type="hidden" th:value="${csrf}" />
			<input type="text" id="username" name="username" value="" />
			<br/>
			<br/>
			<br/>
			<input type="password" id="password" name="password" value="" />
			<br/>
			<br/>
			<br/>
			<input type="submit" value="Accedi" />
		</form>
	</div>
</body>

</html>