<!DOCTYPE html>
<html lang="it">

<head>
<meta charset="UTF-8">
<script type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
<title>Index</title>
<script type="text/javascript" th:inline="javascript">
    	/*<![CDATA[*/
   		var status = /*[[${status}]]*/ '';
		var url = /*[[${url}]]*/ '';
		var client_id = /*[[${client_id}]]*/ '';
		var grant_type = /*[[${grant_type}]]*/ '';
		var code = /*[[${code}]]*/ '';
		var pecUrl = /*[[${pecUrl}]]*/ '';
		var pecAttachmentsUrl = /*[[${pecAttachmentsUrl}]]*/ '';
    	/*]]>*/
		var at = "";
		var username = "";
		var attArr = [];
		
		$(function(){
				if (status == "logged_out" || status==null) {
					console.log("logged_out");
					$('#auth-div').show();
				}
				else if (status == "azcode") {
					var formData = {
		                'code': code,
						'client_id': client_id,
						'grant_type': grant_type
		            };
					$.ajax({
					      type: 'POST',
					      url: url,
					      data: formData,
					      dataType: "text",
					      success: function(resultData) {
							var resultDataJson = $.parseJSON(resultData);
							if (resultDataJson.error == null) {
								$.ajax({
								      type: 'POST',
								      url: "/gamma-service-orchestrator/init-session",
								      data: resultDataJson,
								      dataType: "json",
								      success: function(resultData) {
										if (resultData.status == "ok") {
											at = resultData.accessToken;
											username = resultData.username;
											$('#pusername').html(username);
											$('#postlogin-div').show();
										}
									}
								});
							}
						}
					});
				}
		});
		
		function handleAttachment(element) {
			if (element.checked) {
				if (!attArr.includes(element.id)) {
					attArr.push(element.id);
				}
			} else {
				if (attArr.includes(element.id)) {
					attArr.splice( attArr.indexOf(element.id), 1 );
				}
			}
			console.log(attArr);
		}
		
		function signAttachments() {
			console.log(attArr);
			var stringified = JSON.stringify(attArr);
			var data = {
				'messageIds': attArr
			};
			$.ajax({
			   type: "POST",
			   url: pecAttachmentsUrl,
			   data: data,
			   headers: {'Authorization': 'Bearer '+at},
			   success: function(responsedata) {
				console.log("success");
				console.log(responsedata);
				$("#attachmentDataIn").val(responsedata.signedData);
				$("#attachment-sign-form").attr('action', responsedata.url);
				$('form#attachment-sign-form').submit();
			   }
			 });
		}
		
		function getPecMessages() {
			var type = $("input[name='type']:checked").val();
			var email = $("#email").val();
			var attachments = 'false';
			if ($('#hasattachments').is(":checked")) {
				attachments = 'true';
			}
			var data = {
				'type': type,
				'email': email,
				'hasattachments': attachments
			};
			$.ajax({
			   type: "POST",
			   url: pecUrl,
			   data: data,
			   headers: {'Authorization': 'Bearer '+at},
			   success: function(responsedata) {
				$('#pec-list-div').show();
				var innerHtmlPec = "";
				$.each(responsedata, function(idx,obj){
					$.each(obj, function(key,value){
						if (key=='pec') {
							innerHtmlPec = innerHtmlPec + "<h2>Messaggi per l'indirizzo <b>"+value+"</b></h2>";
						} else {
							$.each(value, function(keym,valuem){
								innerHtmlPec = innerHtmlPec + "<p>";
								if ("true"==valuem.hasAttachments) {
									innerHtmlPec = innerHtmlPec + "<input type=\"checkbox\" id=" + valuem.id + " name=" + valuem.id + " onchange=\"handleAttachment(this)\"><b>A</b> ";
								}
								innerHtmlPec = innerHtmlPec + "tipo: " + valuem.type;
								innerHtmlPec = innerHtmlPec + " indirizzo: " + valuem.address;
								innerHtmlPec = innerHtmlPec + " timestamp: " + valuem.timestamp;
								innerHtmlPec = innerHtmlPec + "<br/>";
							});
						}
					});
					innerHtmlPec = innerHtmlPec + "<br><br>";
				});
				$("#pec-list-internal").html(innerHtmlPec);
			   }
			 });
		}
    </script>
</head>

<body>
	<div id="auth-div" style="display: none;">
		<h2>Non hai ancora eseguito l'accesso</h2>
		<div>
			<form id="loginform" th:action="${url}" method="GET">
				<input name="state" id="state" type="hidden" th:value="${state}" />
				<input name="scope" id="scope" type="hidden" th:value="${scope}" />
				<input name="redirect_uri" id="redirect_uri" type="hidden" th:value="${redirect_uri}" />
				<input name="client_id" id="client_id" type="hidden" th:value="${client_id}" />
				<input type="submit" value="Richiedi Autenticazione" />
			</form>
		</div>
	</div>
	<div id="azcode-div">
		<form id="tokenform" th:action="${url}" method="POST">
			<input name="code" id="code" type="hidden" th:value="${code}" />
			<input name="grant_type" id="scope" type="hidden" th:value="${scope}" />
			<input name="redirect_uri" id="redirect_uri" type="hidden" th:value="${redirect_uri}" />
			<input name="client_id" id="client_id" type="hidden" th:value="${client_id}" />
		</form>
	</div>
	<div id="postlogin-div" style="display: none;">
		<h2>Benvenuto <div id="pusername"></div></h2>
		Clicca per vedere i messaggi delle tue caselle PEC in base ai dati impostati nei filtri
		<br>
		<form id="pec-messages-form">
			<input type="checkbox" id="hasattachments" name="hasattachments" value="has-attachments">
			<label for="hasattachments">Con allegati</label>
			<br>
			<input type="radio" id="incoming" name="type" value="incoming">
			<label for="html">Ricevute</label><br>
			<input type="radio" id="outgoing" name="type" value="outgoing">
			<label for="css">Inviate</label><br>
			<br>
			<label for="email">Mittente/Destinatario</label><br>
			<input type="text" id="email" name="email">
			<input type="button" id="pec-load" value="Prosegui" onclick="getPecMessages(); return false;"/>
		</form>
	</div>
	<div id="pec-list-div" style="display: none;">
		<h2>I tuoi messaggi. Seleziona i messaggi con allegato per firmare gli allegati al loro interno:</h2>
		<div id="pec-list-internal"></div>
		<input type="button" id="signAttButton" name="signAttButton" onclick="signAttachments()" value="Firma Allegati">
		<form id="attachment-sign-form" action="" method="POST">
			<input name="attachmentDataIn" id="attachmentDataIn" type="hidden" value="" />
		</form>
	</div>
</body>

</html>